.text fieldset {
  border: none;
}

.MuiInputBase-root {
  padding: 10px;
  /* color: aqua; */
}

.text .MuiSvgIcon-root {
  display: none;
}

/* .text .MuiAutocomplete-popper {
  background-color: black;
} */
